#
## File managed by fabric, don't edit directly
# This file is just an example and should not be used in production
#
# webservice to monitor the krakens, navitia2 c++ cores's
WSGIPythonPath {{env.kraken_monitor_basedir}}

WSGIDaemonProcess monitor-kraken processes=1 threads=5 display-name='%{GROUP}'
WSGIProcessGroup monitor-kraken
WSGIApplicationGroup %{GLOBAL}
WSGIImportScript {{env.kraken_monitor_wsgi_file}} process-group=monitor-kraken application-group=%{GLOBAL}
WSGIScriptAlias /{{env.kraken_monitor_location_dir}} {{env.kraken_monitor_wsgi_file}}
SetEnv PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION cpp
<Location /{{env.kraken_monitor_location_dir}}/>
    Order allow,deny
    Allow from all

    # mod_authz_core
    Require all granted
</Location>
<Directory {{env.kraken_monitor_basedir}}>
    Order allow,deny
    Allow from all

    # mod_authz_core
    Require all granted
</Directory>
