#
## File managed by fabric, don't edit directly
#

[Unit]
Description=start kraken_{{instance}}
After=network.target

[Service]
Type=simple
ExecStart={{kraken_base_conf}}/{{instance}}/kraken
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
{% if env.restart_service_always %}Restart=always{% endif %}
User={{env.KRAKEN_USER}}
Group={{env.KRAKEN_USER}}
WorkingDirectory={{kraken_base_conf}}/{{instance}}/

[Install]
WantedBy=multi-user.target

