-- Remove the instance from the tyr jobs
DELETE FROM data_set
WHERE job_id IN
(SELECT job.id
FROM job, instance
WHERE job.instance_id=instance.id AND instance.name='{{instance}}');

DELETE FROM job
WHERE id IN
(SELECT job.id
FROM job, instance
WHERE job.instance_id=instance.id AND instance.name='{{instance}}');

-- Really remove the instance from list
DELETE FROM instance WHERE name='{{instance}}';
